<mat-sidenav-container class="full-height" autosize="true">
    <mat-sidenav mode="side" opened >

        <div mat-menu-item (click)="toggleSidebar()" class="with-icon padded">
            <mat-icon matTooltip="toggle side menu">menu</mat-icon>&nbsp;
            <span [hidden]="collapse" class="spacing">Menu</span>
        </div>

        <div mat-menu-item *ngFor="let i of sideMenu" class="with-icon padded"
            (click)="$event.stopPropagation()">
            <mat-icon [matTooltip]="i.toolTip">{{ i.icon }}</mat-icon>&nbsp;
            <span [hidden]="collapse" class="spacing">{{ i.name }}</span>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="padded">
        <app-booklist></app-booklist>
    </mat-sidenav-content>

</mat-sidenav-container>